*.layout
Kadr/_UpgradeReport_Files/UpgradeReport.xslt
Kadr/_UpgradeReport_Files/UpgradeReport.xslt
*.exe
*.manifest
*.pdb
*.application
/Kadr/CodeHelper/obj/Release/APG.CodeHelper.ExceptionHandler.ExceptionDialog.resources
/Kadr/CodeHelper/obj/Release/APG.CodeHelper.ExceptionHandler.MoreExceptionDialog.resources
/Kadr/CodeHelper/obj/Release/APG.CodeHelper.UI.ApplicationAboutDialog.resources
/Kadr/CodeHelper/obj/Release/APG.CodeHelper.UI.MessageForm.resources
/Kadr/CodeHelper/obj/Release/APG.ExceptionHandler.Res.resources
/Kadr/CodeHelper/obj/Release/APG.Properties.Resources.resources
/Kadr/CodeHelper/obj/Release/APG.UI.CrystalReportVeiwerRus.resources
/Kadr/CodeHelper/obj/Release/APG.UI.UserLoginDialog.resources
/Kadr/CodeHelper/obj/Release/APG.UI.UserLoginDialog.ru-RU.resources
/Kadr/CodeHelper/obj/Release/CodeHelper.csproj.FileListAbsolute.txt
/Kadr/CodeHelper/obj/Release/CodeHelper.csproj.GenerateResource.Cache
/Kadr/CodeHelper/obj/Release/CodeHelper.csprojResolveAssemblyReference.cache
/Kadr/CodeHelper/obj/Release/CodeHelper.dll
/Kadr/CodeHelper/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Kadr/CodeHelper/obj/Release/GenerateResource-ResGen.read.1.tlog
/Kadr/CodeHelper/obj/Release/GenerateResource-ResGen.write.1.tlog
/Kadr/CodeHelper/obj/Release/MultiSelectTreeView.MiltiSelectTreeView.resources
/Kadr/CodeHelper/obj/Release/TempPE/ExceptionHandler.Res.Designer.cs.dll
/Kadr/CodeHelper/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
/Kadr/CodeHelper/obj/Release/ru-RU/CodeHelper.resources.dll
*.cache
/Kadr/Reports/bin
/Kadr/Reports/obj/Debug/*.Cache
/Kadr/Reports/obj/Debug/*.cache
bin
*.Cache
Release
/Kadr/UIX/UIX/obj/Release
