*.layout
Kadr/_UpgradeReport_Files/UpgradeReport.xslt
Kadr/_UpgradeReport_Files/UpgradeReport.xslt
*.exe
*.manifest
*.pdb
*.application
/Kadr/CodeHelper/obj/Release/APG.CodeHelper.ExceptionHandler.ExceptionDialog.resources
/Kadr/CodeHelper/obj/Release/APG.CodeHelper.ExceptionHandler.MoreExceptionDialog.resources
/Kadr/CodeHelper/obj/Release/APG.CodeHelper.UI.ApplicationAboutDialog.resources
/Kadr/CodeHelper/obj/Release/APG.CodeHelper.UI.MessageForm.resources
/Kadr/CodeHelper/obj/Release/APG.ExceptionHandler.Res.resources
/Kadr/CodeHelper/obj/Release/APG.Properties.Resources.resources
/Kadr/CodeHelper/obj/Release/APG.UI.CrystalReportVeiwerRus.resources
/Kadr/CodeHelper/obj/Release/APG.UI.UserLoginDialog.resources
/Kadr/CodeHelper/obj/Release/APG.UI.UserLoginDialog.ru-RU.resources
/Kadr/CodeHelper/obj/Release/CodeHelper.csproj.FileListAbsolute.txt
/Kadr/CodeHelper/obj/Release/CodeHelper.csproj.GenerateResource.Cache
/Kadr/CodeHelper/obj/Release/CodeHelper.csprojResolveAssemblyReference.cache
/Kadr/CodeHelper/obj/Release/CodeHelper.dll
/Kadr/CodeHelper/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Kadr/CodeHelper/obj/Release/GenerateResource-ResGen.read.1.tlog
/Kadr/CodeHelper/obj/Release/GenerateResource-ResGen.write.1.tlog
/Kadr/CodeHelper/obj/Release/MultiSelectTreeView.MiltiSelectTreeView.resources
/Kadr/CodeHelper/obj/Release/TempPE/ExceptionHandler.Res.Designer.cs.dll
/Kadr/CodeHelper/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
/Kadr/CodeHelper/obj/Release/ru-RU/CodeHelper.resources.dll
*.cache
/Kadr/Reports/bin
/Kadr/Reports/obj/Debug/*.Cache
/Kadr/Reports/obj/Debug/*.cache
bin
*.Cache
Release
/Kadr/UIX/UIX/obj/Release
/Kadr/Kadr.suo
/Kadr/CodeHelper/bin/Release
/Kadr/Kadr.v11.suo
/Kadr/UpgradeLog.htm
/Kadr/Reports/obj/Debug/Reports.Properties.Resources.resources
/Kadr/Reports/obj/Debug/Reports.Frames.ReportBaseFrameForYear.resources
/Kadr/Reports/obj/Debug/Reports.Frames.ReportBaseFrameForQuarter.resources
/Kadr/Reports/obj/Debug/Reports.Frames.ReportBaseFrameForPeriod.resources
/Kadr/Reports/obj/Debug/Reports.Frames.ReportBaseFrame.resources
/Kadr/Reports/obj/Debug/Reports.Frames.DepEmplCountReportFrame.resources
/Kadr/Reports/obj/Debug/Reports.Forms.BaseReportFormWithYear.resources
/Kadr/Reports/obj/Debug/Reports.Forms.BaseReportForm.resources
/Kadr/Reports/obj/Debug/Reports.Dialogs.DepartmentSelectDialog.resources
/Kadr/Reports/obj/Debug/Reports.csproj.FileListAbsolute.txt
/Kadr/Reports/obj/Debug
/Kadr/Report151015.vspx
/Kadr/Report151015(1).vspx
/Kadr/Kadr151015.vspx
/Kadr/Kadr.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Kadr/Kadr.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Kadr/Kadr.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Kadr/Kadr.Tests/obj/Debug/Kadr.Tests.csproj.FileListAbsolute.txt
/Kadr/Kadr.Tests/obj/Debug/Fakes/sd/o/f.csproj.FileListAbsolute.txt
/Kadr/Kadr.Tests/obj/Debug/Fakes/sd/o
/Kadr/Kadr.Tests/obj/Debug/Fakes/sd/f.snk
/Kadr/Kadr.Tests/obj/Debug/Fakes/sd/f.fakesconfig
/Kadr/Kadr.Tests/obj/Debug/Fakes/sd/f.fakes
/Kadr/Kadr.Tests/obj/Debug/Fakes/sd/f.csproj
/Kadr/Kadr.Tests/obj/Debug/Fakes/sd/f.cs
/Kadr/Kadr.Tests/obj/Debug/Fakes/sd/f.ch
/Kadr/Kadr.Tests/obj/Debug/Fakes/sd/f.args
/Kadr/Kadr.Tests/obj/Debug/Fakes/sd/f.ah
/Kadr/Kadr.Tests/obj/Debug/Fakes/sd/b/System.Data.4.0.0.0.Fakes.xml
/Kadr/Kadr.Tests/obj/Debug/Fakes/sd/b/System.Data.4.0.0.0.Fakes.fakesconfig
/Kadr/Kadr.Tests/obj/Debug/Fakes/sd/b/office.xml
/Kadr/Kadr.Tests/obj/Debug/Fakes/sd/b/Microsoft.VisualStudio.QualityTools.UnitTestFramework.xml
/Kadr/Kadr.Tests/obj/Debug/Fakes/sd/b
/Kadr/Kadr.Tests/obj/Debug/Fakes/sd
/Kadr/Kadr.Tests/obj/Debug/Fakes/k/o/f.csproj.FileListAbsolute.txt
/Kadr/Kadr.Tests/obj/Debug/Fakes/k/o
/Kadr/Kadr.Tests/obj/Debug/Fakes/k/f.fakesconfig
/Kadr/Kadr.Tests/obj/Debug/Fakes/k/f.fakes
/Kadr/Kadr.Tests/obj/Debug/Fakes/k/f.csproj
/Kadr/Kadr.Tests/obj/Debug/Fakes/k/f.cs
/Kadr/Kadr.Tests/obj/Debug/Fakes/k/f.ch
/Kadr/Kadr.Tests/obj/Debug/Fakes/k/f.args
/Kadr/Kadr.Tests/obj/Debug/Fakes/k/f.ah
/Kadr/Kadr.Tests/obj/Debug/Fakes/k/b/office.xml
/Kadr/Kadr.Tests/obj/Debug/Fakes/k/b/Microsoft.VisualStudio.QualityTools.UnitTestFramework.xml
/Kadr/Kadr.Tests/obj/Debug/Fakes/k/b/Kadr.Fakes.xml
/Kadr/Kadr.Tests/obj/Debug/Fakes/k/b/Kadr.Fakes.fakesconfig
/Kadr/Kadr.Tests/obj/Debug/Fakes/k/b
/Kadr/Kadr.Tests/obj/Debug/Fakes/k
/Kadr/Kadr.Tests/obj/Debug/Fakes/fakes.args
/Kadr/Kadr.Tests/obj/Debug/Fakes
/Kadr/Kadr.Tests/obj/Debug/build.force
/Kadr/Kadr.Tests/obj/Debug
/Kadr/Kadr.Tests/FakesAssemblies/System.Data.4.0.0.0.Fakes.xml
/Kadr/Kadr.Tests/FakesAssemblies/System.Data.4.0.0.0.Fakes.messages
/Kadr/Kadr.Tests/FakesAssemblies/System.Data.4.0.0.0.Fakes.fakesconfig
/Kadr/Kadr.Tests/FakesAssemblies/Kadr.Fakes.xml
/Kadr/Kadr.Tests/FakesAssemblies/Kadr.Fakes.fakesconfig
/Kadr/Kadr.Tests/FakesAssemblies
/Kadr/Kadr.Tests
/Kadr/Kadr/obj/Debug
/Kadr/CodeHelper.Tests/obj/Debug
/Kadr
