<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kadr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Kadr.Properties.Settings.kadrConnectionString" connectionString="Data Source=ugtudb;Initial Catalog=KadrRealTest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Kadr.Properties.Settings.KadrRealTestConnectionString1"
            connectionString="Data Source=ugtudb.ugtu.net;Initial Catalog=KadrRealTest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Kadr.Properties.Settings.KadrRealTestConnectionString2"
            connectionString="Data Source=ugtudb;Initial Catalog=KadrRealTest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <Kadr.Properties.Settings>
            <setting name="InkapacityDocTypeName" serializeAs="String">
                <value>Больничный</value>
            </setting>
            <setting name="AwardDocTypeName" serializeAs="String">
                <value>Награда</value>
            </setting>
            <setting name="SocialDocType" serializeAs="String">
                <value>Социальный статус</value>
            </setting>
            <setting name="ValidationDocType" serializeAs="String">
                <value>Свидетельство прохождения аттестации</value>
            </setting>
            <setting name="SexImagesInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DisplayVacationsYears" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="NullName" serializeAs="String">
                <value>(Не задано)</value>
            </setting>
        </Kadr.Properties.Settings>
    </userSettings>
</configuration>
