<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Kadr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Kadr.Properties.Settings.kadrConnectionString" connectionString="Data Source=ugtudb;Initial Catalog=KadrRealTest;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="Kadr.Properties.Settings.KadrRealTestConnectionString1" connectionString="Data Source=ugtudb.ugtu.net;Initial Catalog=Kadr;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="Kadr.Properties.Settings.KadrRealTestConnectionString2" connectionString="Data Source=ugtudb;Initial Catalog=KadrRealTest;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="Kadr.Properties.Settings.KadrConnectionString1" connectionString="Data Source=ugtudb;Initial Catalog=Kadr;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727" /></startup><userSettings>
        <Kadr.Properties.Settings>
            <setting name="InkapacityDocTypeName" serializeAs="String">
                <value>Больничный</value>
            </setting>
            <setting name="AwardDocTypeName" serializeAs="String">
                <value>Награда</value>
            </setting>
            <setting name="SocialDocType" serializeAs="String">
                <value>Социальный статус</value>
            </setting>
            <setting name="ValidationDocType" serializeAs="String">
                <value>Свидетельство прохождения аттестации</value>
            </setting>
            <setting name="SexImagesInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DisplayVacationsYears" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="NullName" serializeAs="String">
                <value>(Не задано)</value>
            </setting>
        </Kadr.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Forms" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
